@charset "UTF-8";

body, input, button, select, table, textarea {
	font-family:'맑은 고딕','malgun gothic','돋움',dotum,sans-serif;
	font-size:1rem;
	}
body {
	min-width:900px;
	background:url(../images/common/bg.png) fixed;
	}
	
/* 공통 그리드 */
.wrapper {
	display: grid;
	grid-template-rows:100px 1fr;
	grid-template-columns:1fr;
	grid-template-areas:
	"grid_header"
	"grid_content_wrapper"
}

.content_wrapper{
	grid-area: grid_content_wrapper;
}

/*헤더 */
#header{
	grid-area: grid_header;
	z-index:10;
}

/*탑 헤더*/
.top_header {
	height:30px;
	background:url(../images/common/bar.png) repeat-x bottom;
	}

/*바텀 헤더*/
.bottom_header {
	margin:0 auto;
	position: relative;
	background:url(../images/common/bar.png) repeat-x bottom #70221d;
	}
.bottom_header .bottom_header_inner {
	width:900px;
	height:70px;
	margin:0 auto;
	}

/*GNB*/
.bottom_header .gnb {
	text-align:center;
	position: relative;
	}
	
.bottom_header .gnb>li {
	display:inline-block;
	}
	
.bottom_header .gnb li h1 {
	display:inline-block;
	padding:0 20px 10px;
	align:center;
	color:#d6866f;
	font:1.5rem "Binggrae-Bold";
	line-height: 60px;
	text-shadow:-2px -2px 0 #4f120e, 2px -2px 0 #4f120e, -2px 2px 0 #4f120e, 2px 2px 0 #4f120e; /*글자 테두리*/
	}
	
.bottom_header .gnb>li>p:hover {
	color:#fff;
	}
.bottom_header .gnb>li:hover>a { /*depth2로 마우스가 이동하더라도 hover 유지*/
	color:#fff;
	}

/*서브메뉴*/
.bottom_header .gnb>li:hover .depth2 {
	display:block;
	}
.gnb .depth2 {
	position:absolute;
	top:67px;
	margin:0 auto;
	background:rgba(0, 0, 0, 0.7);
	display:none;
	width:150px;
	z-index:9;
	border-left:6px solid #895343;
	border-right:6px solid #895343;
	border-bottom:6px solid #895343;
	}
.gnb .depth2 li {
	float:left;
	}
.gnb .depth2 li a {
	display:block;
	width:150px;
	text-align:left;
	line-height:45px;
	padding:15px 20px;
	color:#d6866f;
	font:1rem "Binggrae-Bold";
	}
.gnb .depth2 li a:hover {
	color:#fff;
	}
