@charset "UTF-8";

/* 아이방 내용 랩 */
#kidsroom {
	display: grid;
	grid-template-columns:1fr 300px 1.2fr;
	grid-template-areas:
	"grid_kidsroom_left grid_kidsroom_center grid_kidsroom_right"
}

/* 아이방 배열 그리드*/
.kidsroom_left {
	grid-area: grid_kidsroom_left;
	padding-right:50px;
}
.kidsroom_center {
	grid-area: grid_kidsroom_center;
}
.kidsroom_right {
	grid-area: grid_kidsroom_right;
	padding:0 50px;
}

/*아이방 왼쪽 프로필 테이블*/
.kidsroom_left > table {
	background-color: #361717;
	color: #e7bcbc;
	width: 340px;
}

.kidsroom_left table td{
	background: #5b0e00;
	padding:17px 0 17px 20px;
	border: 5px ridge #b37d62;
}

/*아이방 왼쪽 아래 친구들에 대하여*/
.about_friends {
	width: 330px;
	margin-top:30px;
}

.about_friends > p {
	padding: 0 0 10px 30px;
	color: #e7bcbc;
}

.about_friends > p:first-child {
	padding-top:10px;
	padding-left:20px;
}

.about_friends > p:last-child {
	padding-bottom:15px;
}

/*아이방 가운데*/
/*아이방 가운데 위 오늘의 질문*/
#kidsroom_question {
	height:200px;
	background:url(../images/common/kidsroom_question.png) left bottom no-repeat;
	margin-bottom:20px;
}

/*아이방 가운데 중간 포트레이트*/
#kidsroom_portrate img {
	width:290px;
}

/* 아이방 가운데 아래 이름*/
#kidsroom_name {
	margin-top:20px;
	height:50px;
	line-height:50px;
	text-align:center;
}

/*아이방 오른쪽*/
/*일기*/
#kidsroom_diary {
	width:300px;
	height:200px;
	background:url(../images/common/kidsroom_diary.png);
	margin-bottom:40px;
	padding:50px;
}

#kidsroom_diary p {
	margin : 0 50px 20px 30px;
	overflow-y:auto;
}

#kidsroom_diary p:last-child {
	height:170px;
}

/*기록*/
#kidsroom_schedule_title {
	height:40px;
	background:url(../images/common/kidsroom_schedule_title.png) center no-repeat;
}

#kidsroom_schedule {
	margin-left:-10px;
	margin-top:-10px;
	width:450px;
	height:200px;
	background:url(../images/common/kidsroom_schedule.png) no-repeat;
}

#kidsroom_schedule > p {
	width:150px;
	height:100px;
	margin:70px 0 0 50px;
	display:inline-block;
	overflow-y:auto;
}

#kidsroom_schedule > p:last-child{
	margin-left:30px;
}
