@charset "utf-8";

/* 메인 */
#mainpage {
	display: grid;
	grid-template-columns:230px 1fr;
	grid-template-areas:
	"grid_sidebar grid_main_visual";
	width:900px;
	margin: 0 auto;
}

/* 왼쪽 사이드바 */
#mainpage .sidebar{
	grid-area: grid_sidebar;
	width:90%;
	margin:0 auto;
}

/* 왼쪽 사이드바 테이블 공통 */
#mainpage .sidebar .sidebar_table {
	width:100%;
	border: 5px ridge #a15a43;
	padding: 5px;
}

#mainpage .sidebar .sidebar_table th{
	background-color: #441511;
}

#mainpage .sidebar table td{
	color:#f7c9b5;	
	font-family: 'SunBatang-Bold';
	text-align:center;
	vertical-align:middle;
	background-color: #000;
}

#mainpage .sidebar .sidebar_table_footer{
	padding:5px;
	background-color: #000;
}


/* 오늘 날짜 */
#today {
	margin:50px auto;
}

#today_week {
	letter-spacing:-0.1em;
	font-size:4rem;
}
#today .today_table{
	width:100%;
	margin:0px 10px 0px 0px;
	padding:0px;
}

#today .today_table td{
	padding:5px;
	border:3px ridge #c68a74;
}

.today_footer{
	padding:0px;
}

/* 로그인창 */
#login{
	margin:30px auto;
}

#login table .login_name{
	width:30%;
	text-align:left;
}

#login_submit {
	text-align:right;
	padding:5px 15px;
}

#login_submit>input{
	width:60px;
	font-size:0.8rem;
}

/* 메인 달력 */
#main_calander {
	grid-area: grid_main_visual;
	width:95%;
	margin:50px auto 30px;
	border:4px solid #ddd;
	background-color: #000;
}