<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 메뉴&내용 레이아웃 배치용 전체 그리드 -->
<div class="wrapper">
	<!-- 메뉴 그리드 & 메뉴 박스 -->
	<div id="header">
		<!-- 윗부분 여백 -->
		<div class="top_header"></div>
		<!-- 헤더 -->
		<div class="bottom_header">
			<!-- 메뉴 -->
			<div class="bottom_header_inner">
			<ul class="gnb">
	        	<li>
	            	<a href="#">메인</a>
	            </li>
	        	<li>
	            	<a href="#">아이 방</a>
	                <ul class="depth2 gnb1">
	                	<li><a href="#">에드워드</a></li>
	                	<li><a href="#">에단</a></li>
	                	<li><a href="#">에이크</a></li>
	                	<li><a href="#">엘리엇</a></li>
	                </ul>
	            </li>
	        	<li>
	            	<a href="#">상태 일람</a>
	                <ul class="depth2 gnb2">
	                	<li><a href="#">에드워드</a></li>
	                	<li><a href="#">에단</a></li>
	                	<li><a href="#">에이크</a></li>
	                	<li><a href="#">엘리엇</a></li>
	                </ul>
	            </li>
	        	<li>
	            	<a href="#">일정</a>
	                <ul class="depth2 gnb3">
	                	<li><a href="#">에드워드</a></li>
	                	<li><a href="#">에단</a></li>
	                	<li><a href="#">에이크</a></li>
	                	<li><a href="#">엘리엇</a></li>
	                </ul>
	            </li>
	        	<li>
	            	<a href="#">마을</a>
	                <ul class="depth2 gnb4">
	                	<li><a href="#">의상점</a></li>
	                	<li><a href="#">악세사리점</a></li>
	                	<li><a href="#">잡화점</a></li>
	                	<li><a href="#">비밀상점</a></li>
	                	<li><a href="#">환전소</a></li>
	                </ul>
	            </li>
	        	<li>
	            	<a href="#">앨범</a>
	                <ul class="depth2 gnb5">
	                	<li><a href="#">에드워드</a></li>
	                	<li><a href="#">에단</a></li>
	                	<li><a href="#">에이크</a></li>
	                	<li><a href="#">엘리엇</a></li>
	                	<li><a href="#">공용</a></li>
	                	<li><a href="#">엔딩</a></li>
	                </ul>
	            </li>
	        </ul>
	        </div><!-- END .bottom_header_inner -->
	    </div><!-- END .bottom_header -->
	</div><!-- END #header -->
	<!-- 내용 그리드 -->
	<div class="content_wrapper">
	</div><!-- .content_wrapper END -->
</div><!-- .wrapper END-->
</body>
</html>