<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/header.css" rel="stylesheet" type="text/css">
<link href="css/kidsroom.css?after" rel="stylesheet" type="text/css">
<title>아이방</title>
</head>
<body>
<!-- 메뉴&내용 레이아웃 배치용 전체 그리드 -->
<div class="wrapper">
	<!-- 메뉴 그리드 & 메뉴 박스 -->
	<div id="header">
		<!-- 윗부분 여백 -->
		<div class="top_header"></div>
		<!-- 헤더 -->
		<div class="bottom_header">
			<!-- 메뉴 -->
			<div class="bottom_header_inner">
			<ul class="gnb">
	        	<li>
	            	<a href="#">메인</a>
	            </li>
	        	<li>
	            	<a href="#">아이 방</a>
	                <ul class="depth2 gnb1">
	                	<li><a href="#">에드워드</a></li>
	                	<li><a href="#">에단</a></li>
	                	<li><a href="#">에이크</a></li>
	                	<li><a href="#">엘리엇</a></li>
	                </ul>
	            </li>
	        	<li>
	            	<a href="#">상태 일람</a>
	                <ul class="depth2 gnb2">
	                	<li><a href="#">에드워드</a></li>
	                	<li><a href="#">에단</a></li>
	                	<li><a href="#">에이크</a></li>
	                	<li><a href="#">엘리엇</a></li>
	                </ul>
	            </li>
	        	<li>
	            	<a href="#">일정</a>
	                <ul class="depth2 gnb3">
	                	<li><a href="#">에드워드</a></li>
	                	<li><a href="#">에단</a></li>
	                	<li><a href="#">에이크</a></li>
	                	<li><a href="#">엘리엇</a></li>
	                </ul>
	            </li>
	        	<li>
	            	<a href="#">마을</a>
	                <ul class="depth2 gnb4">
	                	<li><a href="#">의상점</a></li>
	                	<li><a href="#">악세사리점</a></li>
	                	<li><a href="#">잡화점</a></li>
	                	<li><a href="#">비밀상점</a></li>
	                	<li><a href="#">환전소</a></li>
	                </ul>
	            </li>
	        	<li>
	            	<a href="#">앨범</a>
	                <ul class="depth2 gnb5">
	                	<li><a href="#">에드워드</a></li>
	                	<li><a href="#">에단</a></li>
	                	<li><a href="#">에이크</a></li>
	                	<li><a href="#">엘리엇</a></li>
	                	<li><a href="#">공용</a></li>
	                	<li><a href="#">엔딩</a></li>
	                </ul>
	            </li>
	        </ul>
	        </div><!-- END .bottom_header_inner -->
	    </div><!-- END .bottom_header -->
	</div><!-- END #header -->
	<!-- 내용 그리드 -->
	<div class="content_wrapper">
	<!-- 아이방 전채 랩 -->
	<div id="kidsroom">
		<!-- 내용그리드>왼쪽 박스 -->
		<div class="kidsroom_left">
			<!-- 프로필 테이블 -->
			<table>
				<tr>
					<td>1</td>
					<td colspan="2">18세</td>
					<td colspan="3">9월 10일 생</td>
				</tr>
				<tr>
					<td colspan="6">무리하지 않는다</td>
				</tr>
				<tr>
					<td colspan="2">177cm</td>
					<td colspan="2">68kg</td>
					<td colspan="2">매혹</td>
				</tr>
				<tr>
					<td colspan="6">가계 상황 : 보통</td>
				</tr>
				<tr>
					<td colspan="3">취미 : 승마</td>
					<td colspan="3">특기 : 미술</td>
				</tr>
				<tr>
					<td colspan="6">좋아하는 과목 : 교양</td>
				</tr>
			</table>
			<!-- 친구들에 대하여 -->
			<div class="basic_div about_friends">
				<p>친구들에 대하여</p>
				<p>에단 : 건강해요 </p>
				<p>에이크 : 활발해요</p>
				<p>엘리엇 : 착해요</p>
			</div>
		</div>
		<!-- 내용그리드>가운데 박스 -->
		<div class="kidsroom_center">
			<!-- 아이의 질문 -->
			<div id="kidsroom_question">
			</div>
			<!-- 아이 포트레이트 -->
			<div class="basic_div" id="kidsroom_portrate">
				<img src="images/kidsroom_portrate.png" alt="프로필사진" />
			</div>
			<!-- 아이 이름 -->
			<div class="basic_div" id="kidsroom_name">
				<p>권 주 용</p>
			</div>
		</div>
		<!-- 내용그리드>오른쪽 박스 -->
		<div class="kidsroom_right">
			<div class="basic_div" id="kidsroom_diary">
				<p>○월 ○일</p>
				<p>
					오늘은 에디와 함께 영화관에 영화를 보러 갔어요. 재미있었어요.<br />
					스크롤 테스트<br />
					동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세<br />
					무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세<br />
				</p>
			</div>
			<div id="kidsroom_schedule_title"></div>
			<div id="kidsroom_schedule">
				<p>
					학교 3회<br />
					수업 2회<br />
					학교 3회<br />
					수업 2회<br />
					학교 3회<br />
					수업 2회<br />
					학교 3회<br />
					수업 2회<br />
				</p>
				<p>
					베타 농장 3회<br />
					편의점 2회 <br />
					베타 농장 3회<br />
					편의점 2회 <br />
					베타 농장 3회<br />
					편의점 2회 <br />
					베타 농장 3회<br />
					편의점 2회 <br />
					베타 농장 3회<br />
					편의점 2회 <br />
				</p>
			</div>
		</div>
	</div><!-- .kidsroom END -->
	</div><!-- .content_wrapper END -->
</div><!-- .wrapper END-->
</body>
</html>