@charset "UTF-8";

/*스테이터스 페이지*/
#statuspage {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

/* 아이방 배경 */
#statuspage_kidsroom {
	border: 5px solid white;
	width: 100%;
	height: 600px;
	margin: 50px 0;
	overflow: hidden;
}

#statuspage_kidsroom img{
	width: 100%;
}

/* 스테이터스 창 */
#statuspage_status_wrapper {
	position: absolute;
	left: 50px;
	top: -30px;
	width: 500px;
}

#statuspage_status_wrapper .status_bar{
	background: #5b0e00;
	margin: 0 0 20px 0;
	padding: 10px;
	border: 5px ridge #b37d62;
	color: #ffffff;
}

#statuspage_status_wrapper .status_bar table{
	width:460px;
	border:1px solid #bdbcbd;
	padding:2px;
	font-size:0.9rem;
}

/* 인벤토리창 */
#inventory table{
	margin:10px 0;
	background-color: #361717;
}
#inventory > table > tr,td{
	border:1px solid #bdbcbd;
	text-align: center;
	width:30%;
}
#inventory table th{
	background-color: #733131;
	font-weight:bold;
	color: #e7bcbc;
}

/* 스탯창 배열 그리드*/
.status_bar {
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-areas:
	"grid_status_left grid_status_right"
}

.status_left {
	grid-area: grid_status_left;
}

.status_right{
	grid-area: grid_status_right;
}

/* 스탯창 */
#statuspage_status_wrapper .status table{
	width:230px;
	margin: 0 10px 20px 0;
	background-color: #361717;
}

#statuspage_status_wrapper .status table:last-child{
	margin: 0 10px 0 0;
}

#statuspage_status_wrapper .status table th {
	width:50px;
	text-align: left;
	padding-left: 3px;
	vertical-align: middle;
	border: 1px solid #bdbcbd;
	background-color: #733131;
	font-weight: bold;
	color: #e7bcbc;
}

#statuspage_status_wrapper .status table td{
	width: 90px;
}
#statuspage_status_wrapper .status .status_number{
	width:25px;
	text-align:right;
	padding-right: 3px;
	vertical-align: middle;
	font-weight:bold;
	color: #e7bcbc;
}

.stat_box {
	margin:4px 0;
	background-color: red;
	height:13px;
}